{% extends "b.html" %}

{% block content %}
<div class="container">
	<h2>What?</h2>
	<p>Thriftify is a simple web service which generates a <a href="http://thrift.apache.org">Thrift</a> bindings from text, uploaded files or URLs</p>

	<h2>Why?</h2>
	<p>Most people don't need to compile and install the Thrift compiler. What they do need are the Thrift runtime libraries per their chosen bindings and the bindings. We simply wanted to save that.</p>

	<h2>How?</h2>
	<p>It started with a set of tweets from <a href="http://twitter.com/scode">@scode</a> and <a href="http://twitter.com/rantav">@rantav</a>. At some point <a href="http://twitter.com/erans">@erans</a> saw a retweet of @scode by @rantav and thought it would be a nice side project.
	</p>

	<h2>Who?</h2>
	<ul>
		<li>Eran Sandler (<a href="http://twitter.com/erans">@erans</a>)</li>
		<li>Ran Tavory (<a href="http://twitter.com/rantav">@rantav</a>)</li>
	</ul>
</div>
{% end %}