<html>
	<head>
		<title>thriftify - Service to generate thrift bindings</title>
		<link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ static_url('css/bootstrap-responsive.min.css') }}" rel="stylesheet">
		<link href="{{ static_url('css/main.css') }}" rel="stylesheet">
		<link href="{{ static_url('css/shCore.css') }}" rel="stylesheet">
		<link href="{{ static_url('css/shThemeDefault.css') }}" rel="stylesheet">
		{% if has_mixpanel %}{% module Template("mixpanel.html") %}{% end %}
	</head>
	<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=223155457761005";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="#">Thriftify</a>
					<div class="nav-collapse">
						<ul class="nav pull-right">
							<li {% if request.uri == "/" %}class="active"{% end %}><a href="/">Home</a></li>
							<li {% if request.uri == "/docs" %}class="active"{% end %}><a href="/docs">Documentation</a></li>
							<li {% if request.uri == "/about" %}class="active"{% end %}><a href="/about">About</a></li>
							<li {% if request.uri == "/contact" %}class="active"{% end %}><a href="mailto:hello@thriftify.org">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			{% block content %}{% end %}
			<div class="row">
				<hr/>
			</div>
			<div class="row">
				<div class="span12" style="text-align: center; margin-bottom: 10px;">
					<div class="fb-like" layout="button_count" data-href="http://thriftify.org" data-send="true" data-width="130" data-show-faces="true"></div>

					<div class="g-plusone" data-annotation="inline" data-width="250" data-href="http://thriftify.org"></div>

					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://thriftify.org" data-text="I'm generating #Thrift bindings with http://thriftify.org" data-via="thriftifyit" data-related="thriftifyit" data-hashtags="thriftify">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			</div>
			<div class="row">
				<div class="span12" style="text-align: center;">
					<a href="http://mixpanel.com/f/partner"><img src="http://mixpanel.com/site_media/images/partner/badge_blue.png" alt="Real Time Web Analytics" /></a>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{ static_url('js/jquery.validate.pack.js') }}"></script>
		<script src="{{ static_url('js/bootstrap.min.js') }}"></script>
		<script src="{{ static_url('js/bootstrap-transition.js') }}"></script>
		<script src="{{ static_url('js/bootstrap-tab.js') }}"></script>
		<script src="{{ static_url('js/sh/sh-all.js') }}"></script>
		<script src="{{ static_url('js/application.js') }}"></script>

		{% block scriptincludes %}{% end %}

		<script type="text/javascript">
			$(document).ready(function() {
				{% block scriptinit %}
				{% end %}
			});
		</script>

		{% if settings.ENABLE_ANALYTICS %}
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-30989839-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		{% end %}

		<script type="text/javascript">
		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
	</body>
</html>