{% extends "b.html" %}

{% block content %}
<div class="container">
  <h2>API</h2>
  <p>A simple one-liner:</p>
  <pre>
    $ curl "http://thriftify.org/api/v1/generate?gen=java" -F "file1=@file.thrift" > java.zip
  </pre>
  <p>A complete example:</p>
  <pre>
    # Create a simple thrift file
    $ echo struct A {} > file.thrift
    # Generate the thrift bindings using thriftify
    $ curl "http://thriftify.org/api/v1/generate?gen=java" -F "file1=@file.thrift" > java.zip
    # Validate, read the code
    $ unzip -c java.zip
  </pre>

  <h3>Parameters</h3>
    <table class='table'>
      <tr>
        <th>name</th>
        <th>value</th>
        <th>comments</th>
      </tr>
      <tr>
        <td><code>&amp;thriftversion</code></td>
        <td>Generate a binding based on specific Thrift compiler version</td>
        <td>Optional. If not provided it will use version <code>{{ default_thrift_version }}</code></td>
      </tr>
      {% for t in thrift_bins %}
      <tr>
        <td></td>
        <td><code>{{ t["name"] }}</code></td>
        <td></td>
      </tr>
      {% end %}
      <tr>
      <tr>
        <td><code>&amp;url</code></td>
        <td>url to download the thrift file from</td>
        <td>Optional. If not provided then the thrift file must be posted with the request</td>
      </tr>
      <tr>
        <td><code>&amp;download_zip</code></td>
        <td>
          <code>off</code> to get a json<br/>
          Exclude or set to <code>on</code> to get a zip
        </td>
        <td>Optional. equals to <code>off</code> then a json response with the files is returned. If missing or set to anything else then a zip file is returned</td>
      </tr>
      <tr>
        <td><code>&amp;thriftcontent</code></td>
        <td>thrift code.</td>
        <td>Optional. This is the thrift code to compile.<br/>
          Example: <code>curl "http://thriftify.org/api/v1/generate?gen=java" <strong>-d</strong> "<strong>thriftcontent=struct A{}</strong>" > java.zip</code><br/>
          If missing then you have to provide a file upload (use <code>curl "http://thriftify.org/api/v1/generate?gen=java" <strong>-F</strong> "<strong>file1=@file.thrift</strong>" > java.zip</code>) 
        </td>
      </tr>
      <tr>
        <td><code>&amp;gen</code></td>
        <td>Output bindings language</td>
        <td>See examples and possible valuesbelow</td>
      </tr>
      {% for s in sorted(supported_languages.iterkeys()) %}
      {% if "parameters" in supported_languages[s] %}
        <tr>
          <td></td>
          <td><code>{{ s }}</code></td>
          <td>{{ supported_languages[s]['name'] }}</td>
        </tr>
        {% for p in supported_languages[s]['parameters'] %}
          <tr>
            <td></td>
            <td><code>{{ s }}:{{ p }}</code></td>
            <td>{{ supported_languages[s]['name'] }}: {{ supported_languages[s]['parameters'][p] }}</td>
          </tr>
        {% end %}
      {% else %}
        <tr>
          <td></td>
          <td><code>{{ s }}</code></td>
          <td>{{ supported_languages[s]["name"] }}</td>
        </tr>
      {% end %}
      {% end %}
    </table>
</div>
{% end %}