{% extends "b.html" %}

{% block content %}
<div class="container">
  <h2>API</h2>
  <p>A simple one-liner:</p>
  <pre>
    $ curl "http://thriftify.org/api/v1/generate?gen=java" -F "file1=@file.thrift" > java.zip
  </pre>
  <p>A complete example:</p>
  <pre>
    # Create a simple thrift file
    $ echo struct A {} > file.thrift
    # Generate the thrift bindings using thriftify
    $ curl "http://thriftify.org/api/v1/generate?gen=java" -F "file1=@file.thrift" > java.zip
    # Validate, read the code
    $ unzip -c java.zip
  </pre>

  <h3>Parameters</h3>
    <table class='table'>
      <tr>
        <th>name</th>
        <th>value</th>
        <th>comments</th>
      </tr>
      {% for s in sorted(supported_languages.iterkeys()) %}
      {% if "parameters" in supported_languages[s] %}
        <tr>
          <td><code>&amp;gen</code></td>
          <td><code>{{ s }}</code></td>
          <td>{{ supported_languages[s]['name'] }}</td>
        </tr>
        {% for p in supported_languages[s]['parameters'] %}
          <tr>
            <td><code>&amp;gen</code></td>
            <td><code>{{ s }}:{{ p }}</code></td>
            <td>{{ supported_languages[s]['name'] }}: {{ supported_languages[s]['parameters'][p] }}</td>
          </tr>
        {% end %}
      {% else %}
        <tr>
          <td><code>&amp;gen</code></td>
          <td><code>{{ s }}</code></td>
          <td>{{ supported_languages[s]["name"] }}</td>
        </tr>
      {% end %}
      {% end %}
    </table>
</div>
{% end %}